.mainArticle {
    grid-area: content;
    text-align: start;
    padding: 20px;
    width: 70%;
    justify-self: end;
}

@media (max-width: 1000px) {
    .mainArticle {
        padding: 0;
        justify-self: stretch;
        width: 100%;
    }
}