.pageFooter {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsLetterForm {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas:
    "header header header"
    "label  input  submit";
  width: 60%;
  margin-left: 20%;
  justify-content: start;
}

.formHeader {
  grid-area: header;
  justify-self: start;
  align-self: start;
}

#newsletterField {
  height: 25px;
  width: 300px;
  border: none;
  border-bottom: 2px solid black;
}

.footerNav {
  width: 60%;
}

.siteInfoLinks {
  display: flex;
  justify-content: center;
}

.siteInfoLinks > * {
  margin: 5px;
}

.cookiesBtn {
  margin: 20px;
}

.subContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer>*{
    flex: 1;
}

.footerSocialNav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header";
  justify-items: start;
}

.socialNavHeader {
  grid-area: header;
}

@media (max-width: 1000px) {
  .newsLetterForm {
    margin: 0;
    align-self: center;
  }
  .newsLetterForm label {
    display: none;
  }
}
